.block {
  max-width: 1350px;
  background-color: #6d749b;
  box-shadow: 0 0 7px #59546a;
  color: #59546a;
  @apply flex w-full p-2 rounded-2xl;

  @media (max-width: 1024px) {
    flex-direction: column;
    height: 100%;
  }
}

.editors,
.response {
  background-color: #f2f2f2;
  @apply w-3/6 overflow-auto;

  @media (max-width: 1024px) {
    height: 100%;
  }
}

.editors {
  height: 200px;
  @apply flex flex-col h-full p-2 rounded-2xl bg-white overflow-auto;

  &__editor {
    @apply overflow-auto w-full;

    &-block {
      border-bottom: 1px solid #6d749b;
      @apply flex h-3/6 gap-6 p-2;

      @media (max-width: 1024px) {
        height: 50%;
      }
    }

    &-toolbar {
      @apply flex flex-col;
    }

    &-button_start {
      transition: all 0.5s;
      @apply w-10 h-10 bg-transparent;

      &:hover {
        @apply scale-110;
      }
    }

    &-tools {
      @apply flex gap-2.5 p-2.5;

      @media (max-width: 1024px) {
        height: 17%;
      }

      &__item {
        transition: all 0.5s;
        border-radius: 5px;
        @apply bg-transparent p-1.5;
      }

      &__item:hover {
        background-color: #7d83a7;
        @apply text-white;
      }
    }

    &-tool {
      @apply p-2 overflow-auto;

      @media (max-width: 1024px) {
        height: 34%;
      }
    }
  }
}

.response {
  background-color: #6d749b;
  @apply p-2 text-white;
}

.dragbar {
  @apply w-1.5 h-full cursor-col-resize;

  @media (max-width: 1024px) {
    display: none;
  }
}
