.header {
  max-width: 1440px;
  margin: 0 auto;
  transition: background-color 0.5s ease, height 0.5s ease;
  @apply flex justify-between items-center sticky top-0 p-5 h-20 bg-black;

  &_sticky {
    background-color: #230555;
    height: 60px;
  }

  &__logo {
    filter: invert(28%) sepia(12%) saturate(272%) hue-rotate(290deg) brightness(110%) contrast(125%);
    @apply w-10 h-10;
  }

  &__btns {
    @apply flex gap-4 items-center;
  }

  &__btn {
    background: linear-gradient(black, black) padding-box,
      linear-gradient(to right, #5389ff, #a359ff) border-box;
    @apply relative inline-flex justify-center items-center px-8 py-2 rounded-lg border-2 border-transparent;
  }

  &__theme {
    -webkit-appearance: none;
    appearance: none;
    background-image: url(https://i.postimg.cc/mrRKDbbT/flag-en-big.jpg);
    border-radius: 50px;
    outline: none;
    transition: background-image 0.9s;
    box-shadow: 0px 1px 5px 0px rgb(68 65 65);
    @apply relative w-10 h-5 bg-cover;

    &:before {
      content: '';    
      background-color: #cc0100;
      border-radius: 50px;
      transition: all 0.9s;
      @apply absolute top-0 left-0 h-5 w-5;
    }

    &:checked {
      background-image: url(https://i.postimg.cc/zGW1vtKF/image.png);
      transition: background-image 0.9s;
    }

    &:checked:before {
      transform: translate(100%);
      transition: all 0.9s;
      background-color: #051c79;
    }
  }
}
