.footer {
  height: 50px;
  max-width: 1440px;
  margin: 0 auto;
  @apply flex justify-between items-center text-xl p-5;

  @media (max-width: 768px) {
    @apply flex-col gap-4;
  }

  &__developers {
    @apply flex gap-4;
  }

  &__logo {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(114deg) brightness(104%) contrast(101%);
    @apply w-24 h-full;
  }
}
